* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;

}

.logo a {
    font-size: 40px;
    font-weight: 700;
    float: left;
    font-family: courier;
    color: #00008b;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #364f6b;
    background: #d3d3d3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 60px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 100px;
}

.kolom .deskripsi {
    font-size: 22px;
    font-weight: bold;
    font-family: 'gill sans MT';
    color: #364f6b;
    margin-left: 10px;
}

h2 {
    font-family: 'andalus';
    font-weight: 800;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #364f6b;
    width: 100%;
    line-height: 0px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: grey;
    float: right;
    border-radius: 15px;
    margin-bottom: 200px;
    padding: 15px 20px 15px 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: justify;
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 120px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "microsoft tai le";
    line-height: 22px;


}


}
.tengah {
    text-align: center;
    width: 100%;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 120px;
    margin-bottom: 20px;
    font-family: 'microsoft tai le';
    font-weight: 545;
    font-size: 25px;
    color: #364f6b;
    line-height: 0px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 200px;
    margin-left: 320px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section video {
        display: block;
        width: 100%;
        height: auto;
    }

}
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #3f72af;
}

@media screen and (max-width: 991.98px) {
    .logo a {
        display: inline;
    }
    .tombol-menu {
        display: flex;
    }
    nav .menu {
        display: none;
    }
    nav .menu.active {
        display: flex;
    }
    nav ul li {
        width:100%;
        border-bottom:1px solid #333333;
    }
}